<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{ 'demo.title' | translate }}</h1>
</div>
<h2>{{ 'demo.greeting' | translate:{'name':'Rabindranath'} }}</h2>
<ul>
    <li>
        <h3>{{ 'demo.text' | translate }}</h3>
    </li>
</ul>

<div>
    <button type="button" class="btn btn-outline-primary" (click)="useLanguage('en')">INGLES</button>
    <button type="button" class="btn btn-outline-primary" (click)="useLanguage('es')">ESPAÑOL</button>
</div>
<router-outlet></router-outlet>